<script>
  import BarChart from './BarChart.vue';
  import PieChart from './PieChart.vue';
  import RadarChart from './RadarChart.vue';

  export default {
    name: 'ChartManager',
    components: {
      PieChart,
      BarChart,
      RadarChart
    }
  }
</script>

<template>
  <table style="margin-top: 60px;">
    <tbody>
      <tr>
        <td><PieChart></PieChart></td>
        <td></td>
        <td><RadarChart></RadarChart></td>
      </tr>
      <tr>
        <td></td>
        <td style="min-width: 500px; min-height: 300px;"><BarChart></BarChart></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</template>

<style>
</style>
  