<script>
import axios from 'redaxios';
import dateFormat from "dateformat";
axios.defaults.baseURL = 'http://localhost:4040';

export default {
  data() {
    return {
      loginForm: {
        "user": {
          email: this.email,
          password: this.password
        }
      },
      registerForm: {
        "user": {
          email: this.email,
          password: this.password,
          nom: this.lastname,
          prenom: this.firstname,
          username: this.username,
          blocked: false,
          mobile: "no",
          role: 1,
          profil: "profilName",
          deleteOk: true,
          registeredAt: dateFormat(new Date, "yyyy-mm-dd'T'hh:MM:ss", true),
          lastLogin: dateFormat(new Date, "yyyy-mm-dd'T'hh:MM:ss", true)
        }
      },

      jwt: "",
      token: localStorage.getItem('user-token') || null,
      username: ""

    }
  },
  methods: {
    async loginOrRegister(endpoint) {
      await axios.post('/api/users/' + endpoint, endpoint == "sign_up" ? this.registerForm : this.loginForm)
        .then(resp => {
          if (resp.status == 200) {
            localStorage.setItem('user', JSON.stringify(resp.data.data))
            this.$router.push('/')
          } else {
            localStorage.removeItem('user')
          }
        })
        .catch(err => {
          localStorage.removeItem('user')
          console.log(err);
          console.log(this.registerForm)
        })
    }
  },
  computed: {
    currentEndpoint() {
      return this.$route.name;
    }
  }
}
</script >

<template>
  <div class="col">
    <div class="d-flex flex-row justify-content-center align-items-center mb-sm">
      <img id="favicon" src="../../public/favicon.ico">
      <h1>Time Manager</h1>
    </div>
    <div class="m50 col">
      <h2>{{ currentEndpoint.charAt(0).toUpperCase() + currentEndpoint.slice(1) }}</h2>
      <div>
        <RouterLink
          :class="[currentEndpoint == 'login' ? 'disabled' : '', currentEndpoint == 'login' ? 'btn btn-default' : 'btn btn-success']"
          style="margin-right: 20px;" to="/login">Login</RouterLink>
        <RouterLink
          :class="[currentEndpoint == 'register' ? 'disabled' : '', currentEndpoint == 'register' ? 'btn btn-default' : 'btn btn-success']"
          to="/register">Register</RouterLink>
      </div>
    </div>

    <form :class="{ 'd-none': currentEndpoint != 'login' }" @submit.prevent="loginOrRegister('sign_in')">
      <div id="formDiv">
        <label>Email</label>
        <input v-model="loginForm.user.email" placeholder="email" />
        <label>Mot de passe</label>
        <input v-model="loginForm.user.password" placeholder="password" />
        <div class="d-flex justify-content-center">
          <button class="sendButton" type="submit">Envoyer</button>
        </div>
      </div>
    </form>

    <form :class="{ 'd-none': currentEndpoint != 'register' }" @submit.prevent="loginOrRegister('sign_up')">
      <div class="row">
        <div class="col">
          <p>Prenom</p>
          <input v-model="registerForm.user.prenom" placeholder="Entrez votre prenom" />
          <p>Nom</p>
          <input v-model="registerForm.user.nom" placeholder="Entrez votre nom" />
          <p>Username</p>
          <input v-model="registerForm.user.username" placeholder="Entrez votre username" />
        </div>
        <div class="col">
          <p>Email</p>
          <input v-model="registerForm.user.email" placeholder="Entrez votre email" />
          <p>Mot de passe</p>
          <input v-model="registerForm.user.password" placeholder="Entrez votre mot de passe" />
          <button id="sendButtonRegister" class="sendButton m20" type="submit">Envoyer</button>
        </div>
      </div>
    </form>
  </div>
</template>

<style>
img#favicon {
  height: 100px;
  width: auto;
  margin-right: 10px;
}

.btn-success {
  --bs-btn-bg: hsla(160, 100%, 37%, 1) !important;
}

#sendButtonRegister {
  margin-top: 37px;
}

h2 {
  display: flex;
  place-content: center;
}

.m20 {
  margin: 20px;
}

.m50 {
  margin: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  place-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

#formDiv {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.sendButton {
  color: hsla(160, 100%, 37%, 1);
  width: 130px;
  margin-top: 15px;
  border-radius: 8px;
}
</style>
