<script>
  import { Pie } from 'vue-chartjs';
  import { Chart as ChartJS, Colors, Title, Tooltip, Legend, CategoryScale, LinearScale, ArcElement } from 'chart.js';
  import axios from 'redaxios';
  import _ from 'lodash';
  axios.defaults.baseURL = 'http://localhost:4040';
  
  ChartJS.register(Title, Tooltip, Legend, CategoryScale, Colors, LinearScale, ArcElement);

  export default {
    name: 'PieChart',
    components: { Pie },

    data() {
      return {
        data: null,
        labels: null,
        loaded: false,
        datasets: [{
          data: [0, 0],
          label: 'Workingtimes par utilisateur',
          // Additional dataset properties like backgroundColor, borderColor, etc.
        }],
        chartOptions: {
          responsive: true,
          maintainAspectRatio: true
        }
      }
    },
    computed: {
      'chartData': function (){
        return {
          datasets: this.datasets,
          labels: this.labels
        }
      }
    },
    async mounted () {
      const userStorage = localStorage.getItem('user');
      this.parsedUser = userStorage ? JSON.parse(userStorage) : null;
      let axiosConfig = {
        headers: {
          'Content-Type': 'application/json',
          "Authorization": "Bearer " + this.parsedUser.jwt
        }
      };
      axios.get('api/users/', axiosConfig).then(response => (this.infos = response.data.data
      )).catch();
      
      try {
        this.loaded = false;
        const userlist = (await axios.get('/api/users', axiosConfig)).data.data;
        const userIds = userlist.map((user) => {
          return (({ id }) => (id))(user);
        });
        this.labels = userlist.map((user) => {
          return (({ username }) => (username))(user);
        });

        const promises = userIds.map(async (userId) => {
          return (await axios.get('/api/workingtimes/' + userId, axiosConfig)).data.data;
        });

        Promise.all(promises).then((results) => {
          const workingtimesLengths = results.map(result => result.length);

          this.datasets = [{
            data: workingtimesLengths,
            label: 'Workingtimes par utilisateur',
          }];
          this.loaded = true;
        });
      } catch (e) {
        console.error(e)
      }
    }
  }
</script>

<template>
  <Pie
    id="pie-chart-id"
    v-if="loaded"
    :options="chartOptions"
    :data="chartData"
  />
</template>
