<script>
import axios from 'redaxios';
import dateFormat from "dateformat";
import { RouterLink } from 'vue-router';
axios.defaults.baseURL = 'http://localhost:4040';

export default {
  data() {
    return {
      form: {
        "user": {
          email: this.email,
          nom: this.lastname,
          prenom: this.firstname,
          username: this.username,
          blocked: false,
          mobile: "yes",
          role: 1,
          profil: "profilName",
          deleteOk: true,
          registeredAt: dateFormat(new Date, "yyyy-mm-dd'T'hh:MM:ss", true),
          lastLogin: dateFormat(new Date, "yyyy-mm-dd'T'hh:MM:ss", true)
        }
      },
      infos: {
        username: "",
        email: "",
        prenom: "",
        nom: "",
        role: "",
      },
      message: "",
      userId: "",
      parsedUser: null
    }
  },
  methods: {
    submitForm: async function () {
      let axiosConfig = {
        headers: {
          'Content-Type': 'application/json',
          "Authorization": "Bearer " + this.parsedUser.jwt
        }
      };
      try {
        const response = await axios.post('/api/users', this.form, axiosConfig);
        if (response.status === 200) {
          this.message = "Utilisateur Créé";
          console.log(response);
        }
      } catch (error) {
        console.log(error);
        this.message = "Erreur (email ou username existant)";
      }
    },
    updateUser: async function () {
      let axiosConfig = {
        headers: {
          'Content-Type': 'application/json',
          "Authorization": "Bearer " + this.parsedUser.jwt
        }
      };
      await axios.put('/api/users/' + parseInt(this.$route.params.userId), this.form, axiosConfig).then(function (response) {
        console.log(response);
      }).catch(function (error) {
        console.log(error);
      });
      this.$router.push('/');
    },
    async deleteUser(userId) {
      let axiosConfig = {
        headers: {
          'Content-Type': 'application/json',
          "Authorization": "Bearer " + this.parsedUser.jwt
        }
      };
      await axios.delete('api/users/' + userId, axiosConfig).then().catch();
      window.location.reload();
    },
    redirectUpdateUser(userId) {

      this.$router.push(`/user/${userId}`);

    }


  },
  computed: {
    title() {
      return this.$route.name === "user" ? "Create user" : "Update user";
    },

  },
  mounted() {

    const userStorage = localStorage.getItem('user');
    this.parsedUser = userStorage ? JSON.parse(userStorage) : null;
    let axiosConfig = {
      headers: {
        'Content-Type': 'application/json',
        "Authorization": "Bearer " + this.parsedUser.jwt
      }
    };
    axios.get('api/users/', axiosConfig).then(response => (this.infos = response.data.data
    )).catch();

  }

}

</script>

<template>
  <div class="col" v-if="$route.name == 'userupdate' || $route.name == 'user'">
    <form @submit.prevent="this.$route.params.userId == null ? submitForm() : updateUser()">
      <div class="col">
        <h2>{{ title }}</h2>
        <label>Prenom</label>
        <input v-model="form.user.prenom" placeholder="Entrez votre prenom" />
        <label>Nom</label>
        <input v-model="form.user.nom" placeholder="Entrez votre nom" />
        <label>Username</label>
        <input v-model="form.user.username" placeholder="Entrez votre username" />
        <label>Email</label>
        <input v-model="form.user.email" placeholder="Entrez votre email" />
        <button id="sendButton" type="submit">Envoyer</button>
      </div>
    </form>
    <span>{{ this.message }}</span>
  </div>

  <div v-else>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
            </div>
            <div class="table-responsive">
              <table class="table no-wrap user-table mb-0">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 text-camelcase font-medium pl-4">#</th>
                    <th scope="col" class="border-0 text-camelcase font-medium">Prenom</th>
                    <th scope="col" class="border-0 text-camelcase font-medium">Nom</th>
                    <th scope="col" class="border-0 text-camelcase font-medium">Pseudo</th>
                    <th scope="col" class="border-0 text-camelcase font-medium">Email</th>
                    <th scope="col" class="border-0 text-camelcase font-medium">Role</th>
                    <th scope="col" class="border-0 text-camelcase font-medium">Manage</th>
                  </tr>
                </thead>
                <tbody>

                  <tr v-for="info in infos">
                    <td class="pl-4">1</td>
                    <td>
                      <h5 class="font-medium mb-0"> {{ info.prenom }}
                      </h5>
                    </td>
                    <td>
                      <span class="text-muted">{{ info.nom }}</span><br>
                    </td>
                    <td>
                      <span class="text-muted">{{ info.username }}</span><br>
                    </td>
                    <td>
                      <span class="text-muted">{{ info.email }}</span><br>
                    </td>
                    <td>
                      <select class="form-control category-select" id="exampleFormControlSelect1">
                        <option value="none" selected disabled hidden>{{ info.role }}</option>
                        <option>Modulator</option>
                        <option>Admin</option>
                        <option>User</option>
                        <option>Subscriber</option>
                      </select>
                    </td>
                    <td>
                      <button @click="deleteUser(info.id)" type="button"
                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i>
                      </button>
                      <button @click="redirectUpdateUser(info.id)" type="button"
                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i>
                      </button>
                    </td>
                  </tr>



                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.m20 {
  margin: 20px;
}

label {
  width: 100%;
  display: flex;
  justify-content: left;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sendButton {
  color: hsla(160, 100%, 37%, 1);
  max-width: 150px;
  margin-top: 15px;
  border-radius: 8px;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {

  .greetings h1,
  .greetings h3 {
    text-align: left;
  }

  body {
    background: #edf1f5;
    margin-top: 20px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
  }

  .btn-circle.btn-lg,
  .btn-group-lg>.btn-circle.btn {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 23px;
  }

  .text-muted {
    color: #8898aa !important;
  }

  [type=button]:not(:disabled),
  [type=reset]:not(:disabled),
  [type=submit]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }

  .btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .user-table tbody tr .category-select {
    max-width: 150px;
    border-radius: 20px;
  }
}
</style>

