<script lang="ts">
  import { Bar } from 'vue-chartjs';
  import { Chart as ChartJS, Colors, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js';
  import axios from 'axios';
  import _ from 'lodash';
  axios.defaults.baseURL = 'http://localhost:4040';
  
  ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, Colors, LinearScale);

  export default {
    name: 'BarChart',
    components: { Bar },

    data() {
      return {
        data: null,
        labels: null,
        loaded: false,
        datasets: [{
          data: [0, 0],
          label: 'Workingtimes par utilisateur',
          // Additional dataset properties like backgroundColor, borderColor, etc.
        }]
      }
    },
    computed: {
      'chartData': function (){
        return {
          datasets: this.datasets,
          labels: this.labels
        }
      }
    },
    async mounted () {
      console.log("mounted")
      try {
        this.loaded = false;
        const userlist = (await axios.get('/api/users')).data.data;
        const userIds = userlist.map((user: { id: number, username: string }) => {
          return (({ id }) => (id))(user);
        });
        this.labels = userlist.map((user: { username: string }) => {
          return (({ username }) => (username))(user);
        });

        const promises = userIds.map(async (userId: number) => {
          return (await axios.get('/api/workingtimes/' + userId)).data.data;
        });

        Promise.all(promises).then((results) => {
          const workingtimesLengths = results.map(result => result.length);

          this.datasets = [{
            data: workingtimesLengths,
            label: 'Workingtimes par utilisateur',
          }];
          this.loaded = true;
        });
      } catch (e) {
        console.error(e)
      }
    }
  }
</script>

<template>
  <Bar
    id="my-chart-id"
    style="height: 350px; width: 1200px;"
    v-if="loaded"
    :options="chartOptions"
    :data="chartData"
  />
</template>
