<script setup lang="ts">
defineProps({
  msg: {
    type: String,
    required: true
  }
})
</script>

<template>


<head>
  <title>Compteur de Temps</title>
</head>
<body>
  <div id="compteur">0j 0h 0m 0s</div>
  <button id="demarrer">Démarrer</button>
  <button id="arreter">Arrêter</button>
</body>

</template>


<script>


  
    let tempsDebut: number | null = null;
    let intervalID: NodeJS.Timeout | null = null;

    // Fonction pour mettre à jour le compteur de temps
    function mettreAJourCompteur() {
      if (tempsDebut) {
        const tempsActuel = new Date().getTime();
        const difference = tempsActuel - tempsDebut;

        // Convertir la différence en secondes, minutes, heures, etc.
        const secondes = Math.floor((difference / 1000) % 60);
        const minutes = Math.floor((difference / 1000 / 60) % 60);
        const heures = Math.floor((difference / 1000 / 60 / 60) % 24);
        const jours = Math.floor(difference / 1000 / 60 / 60 / 24);

        // Mettre à jour l'affichage
        const compteurElement = document.getElementById('compteur');
        if (compteurElement) {
          compteurElement.innerHTML = jours + "j " + heures + "h " + minutes + "m " + secondes + "s";
        }
      }
    }

    // Écouteurs d'événements pour les boutons de démarrage et d'arrêt
    const demarrerButton = document.getElementById('demarrer');
    if (demarrerButton) {
      demarrerButton.addEventListener('click', function () {
        if (!tempsDebut) {
          tempsDebut = new Date().getTime();
          let intervalID: NodeJS.Timeout | null = null;
          intervalID = setInterval(mettreAJourCompteur, 1000);
        }
      });
    }
      if (!tempsDebut) {
        tempsDebut = new Date().getTime();
        intervalID = setInterval(mettreAJourCompteur, 1000);
      }
    });

    const arreterButton = document.getElementById('arreter');
    if (arreterButton) {
      arreterButton.addEventListener('click', function () {
        if (tempsDebut) {
          clearInterval(intervalID);
          intervalID = -1;
          tempsDebut = null;
        }
      });
    }
      if (tempsDebut) {
        let intervalID: NodeJS.Timeout | null = null;

        // Fonction pour mettre à jour le compteur de temps
        function mettreAJourCompteur() {
          if (tempsDebut) {
            const tempsActuel = new Date().getTime();
            const difference = tempsActuel - tempsDebut;

            // Convertir la différence en secondes, minutes, heures, etc.
            const secondes = Math.floor((difference / 1000) % 60);
            const minutes = Math.floor((difference / 1000 / 60) % 60);
            const heures = Math.floor((difference / 1000 / 60 / 60) % 24);
            const jours = Math.floor(difference / 1000 / 60 / 60 / 24);

            // Mettre à jour l'affichage
            const compteurElement = document.getElementById('compteur');
            if (compteurElement) {
              compteurElement.innerHTML = jours + "j " + heures + "h " + minutes + "m " + secondes + "s";
            }
          }
        }

        // Écouteurs d'événements pour les boutons de démarrage et d'arrêt
        const demarrerButton = document.getElementById('demarrer');
        if (demarrerButton) {
          demarrerButton.addEventListener('click', function () {
            if (!tempsDebut) {
              tempsDebut = new Date().getTime();
              intervalID = setInterval(mettreAJourCompteur, 1000);
            }
          });
        }

        const arreterButton = document.getElementById('arreter');
        if (arreterButton) {
          arreterButton.addEventListener('click', function () {
            if (tempsDebut && intervalID) {
              clearInterval(intervalID);
              intervalID = null;
              tempsDebut = null;
            }
          });
        }
        tempsDebut = null;
      }
    });
  </script>


a faire 


export default {
  data() {
    return {
      form: {
        "workingtime": {
          start: this.start,
          end: this.end
        }
      },
      resultMessage: this.resultMessage,
      resultSuccess: this.resultSuccess
    }
  },
  methods: {
    async submitForm() {
      await axios.post('/api/workingtimes/'+parseInt(this.$route.params.userId), this.form)
        .then(function (response) {
          console.log(response);
          //si OK ou redirection
          if (response.status == 200 || response.status == 302) {
            resultSuccess = true;
            this.resultMessage = 'Le Workingtime a été créé avec succès ! id : '+response.data.id;
          }
        })
        .catch(function (error) {
          console.log(error);
          this.resultSuccess = false;
          this.resultMessage = 'Une erreur est survenue lors de la création du Workingtime';
        });
    }
  }
}
</script>

<template>
  <form @submit.prevent="submitForm">
    <div id="formDiv">
      <div>
        <label>Date et heure de début</label>
        <input v-model="form.workingtime.start" placeholder="YYYY-MM-DDThh:mm:ss" />
        <label>Date et heure de fin</label>
        <input v-model="form.workingtime.end" placeholder="YYYY-MM-DDThh:mm:ss" />
      </div>
      <button id="sendButton" type="submit">Envoyer</button>
    </div>
  </form>
  <span id="result" :class="[ resultSuccess ? 'success' : 'error' ]">{{ resultMessage }}</span>
</template>