<template>
  <v-app toolbar>
    <myToolbar />
      <v-slide-y-transition mode="out-in">
        <v-main>
          <v-container fill-height align-content-center align-center>
            <RouterView/>
         </v-container>
      </v-main>
      </v-slide-y-transition>

  </v-app>
</template>

<script lang="ts">
import myToolbar from "./MyToolbar.vue"
import { RouterView } from "vue-router";
export default {
  name: 'app',
  components: { myToolbar, RouterView }
}
</script>
