<template>
  <div>
    <v-toolbar class="indigo" flat/>

    <v-list>
              <v-list-item class="px-2">
                <v-avatar>
                  <v-img src="https://randomuser.me/api/portraits/men/32.jpg"></v-img>
                </v-avatar>
              </v-list-item> 
    
              <v-list-item link>
                <v-list-item-title class="text-h6">
                  {{username }}
                </v-list-item-title>
              </v-list-item>
            </v-list>

    <v-list-item v-for="(item, i) in items" :key="i"  @click="goTo(item.action)">
      <template v-slot:prepend>
          <v-icon :icon="item.icon"></v-icon>
        </template>

        <v-list-item-title v-text="item.text"></v-list-item-title>
    </v-list-item>

    <v-list-item>
      <template v-slot:prepend>
          <v-icon :icon="'mdi-logout'"></v-icon>
        </template>
      <v-list-item-title v-on:click="logout">logout</v-list-item-title>
    </v-list-item>
  </div>
</template>

<script lang="ts">
export default {
  name: "drawer",
  data: function() {
    return {
      items: [
        { icon: 'mdi-home', text: "Profile", action: 'Profile' },
        { icon: 'mdi-calendar-check', text: "Task", action: 'Task' },
        { icon: 'mdi-account', text: "Users", action: 'UserList' },
        { icon: 'mdi-account-arrow-up', text: "Skilll", action: 'SkillList' },
      ],
        username:this.$route.params.username
    }
  },
  methods: {
      goTo(path: string){
        this.$router.replace({name:path})
      },
      logout() {
        this.$router.replace({name:'login'})
      }
    }
}
</script>
