<template>

         <v-container  fill-height>
            
               
                  <v-card class="elevation-12">
                     <v-toolbar dark color="primary">
                        <v-toolbar-title>{{isRegister ? stateObj.register.name: stateObj.login.name}} form</v-toolbar-title>
                     </v-toolbar>
                     <v-card-text>
                     <form ref="form" @submit.prevent="isRegister ? register() : login()">
                        <v-text-field
                              v-model="username"
                              name="username"
                              label="Username"
                              type="text"
                              placeholder="username"
                              required
                           ></v-text-field>

                            <v-text-field v-if="isRegister"
                              v-model="registerForm.user.nom"
                              name="nom"
                              label="Nom"
                              type="text"
                              placeholder="nom"
                              required
                           ></v-text-field>

                           <v-text-field v-if="isRegister"
                              v-model="registerForm.user.prenom"
                              name="prenom"
                              label="Prenom"
                              type="text"
                              placeholder="prenom"
                              required
                           ></v-text-field>

                           <v-text-field v-if="isRegister"
                              v-model="registerForm.user.email"
                              name="email"
                              label="Email"
                              type="email"
                              placeholder="email"
                              required
                           ></v-text-field>
                           
                            <v-text-field
                              v-model="password"
                              name="password"
                              label="Password"
                              type="password"
                              placeholder="password"
                              required
                           ></v-text-field>

                           <v-text-field v-if="isRegister"
                              v-model="confirmPassword"
                              name="confirmPassword"
                              label="Confirm Password"
                              type="password"
                              placeholder="confirm password"
                              required
                           ></v-text-field>
                           <div class="red--text"> {{errorMessage}}</div>
                           <v-btn type="submit" class="mt-4" color="primary" value="log in">{{isRegister ? stateObj.register.name : stateObj.login.name}}</v-btn>
                           <div class="grey--text mt-4" v-on:click="isRegister = !isRegister;">
                              {{toggleMessage}}  
                           </div>
                      </form>
                     </v-card-text>
                  </v-card>
                
            
           
         </v-container>
     
</template>


<script lang="ts">
import axios from "axios";
axios.defaults.baseURL = 'http://localhost:4040';

export default {
  name: "App",
  data() {
    return {
      loginForm: {
        "user": {
          email: this.email,
          password: this.password
        }
      },
      registerForm: {
        "user": {
          email: this.email,
          hashed_password: this.hashed_password,
          nom: this.lastname,
          prenom: this.firstname,
          username: this.username,
          blocked: false,
          mobile: "no",
          role: 1,
          profil: "profilName",
          deleteOk: true,
          registeredAt: new Date("yyyy-mm-dd'T'hh:MM:ss"),
         lastLogin: new Date("yyyy-mm-dd'T'hh:MM:ss"),
        }
      },
      username: "def",
      password: "",
      confirmPassword: "",
      isRegister : false,
      errorMessage: "",
      stateObj: {
         register :{
            name: 'Register',
            message: 'Aleady have an Acount? login.'
         },
         login : {
            name: 'Login',
            message: 'Register'
         }
      },
      token: localStorage.getItem('user-token') ||  null
    };
  },
  methods: {
   login() {
      const { username } = this;
      // for use when server is active
      // axios.post('/users/login', this.loginForm)
      // .then(resp => {
      //     if (resp.status == 200) {
      //       this.token = resp.data.token;
      //       localStorage.setItem('user-token', resp.data.token)
      //       this.$router.replace({ name: "Dashboard", params:{ username: username} });
      //     } else {
      //       localStorage.removeItem('user-token')
      //     }
      //   })
      //   .catch(err => {
      //     localStorage.removeItem('user-token')
      //   })

   this.$router.replace({ name: "Dashboard", params:{ username: username} });
   },
    register() {
      
      const { username } = this;
      //  if(this.password == this.confirmPassword){
      //    axios.post('/users/register', this.registerForm)
      //   .then(resp => {
      //     if (resp.status == 200) {
      //       this.token = resp.data.token;
      //       localStorage.setItem('user-token', resp.data.token)
      //       this.isRegister = false;
      //       this.errorMessage = "";
      //       (this.$refs.form as HTMLFormElement).reset();
      //     } else {
      //       localStorage.removeItem('user-token')
      //     }
      //   })
      //   .catch(err => {
      //     localStorage.removeItem('user-token')
      //   })
      // }
      //  else {
      //    this.errorMessage = "password did not match"
      //  }

      if(this.password == this.confirmPassword){ 
         this.isRegister = false;
         this.errorMessage = "";
         (this.$refs.form as HTMLFormElement).reset();
       }
       else {
         this.errorMessage = "password did not match"
       }
    }
  }, 
  computed: {
       toggleMessage : function() { 
          return this.isRegister ? this.stateObj.register.message : this.stateObj.login.message }
    }
   };
</script>