
<template>
    <Radar
      id="radar-chart"
      :options="chartOptions"
      :data="chartData"
    />
  </template>
  
  <script lang="ts">
    import {
    Chart as ChartJS, RadialLinearScale, PointElement, LineElement, Filler,
    Tooltip, Legend} from 'chart.js'
    import { Radar } from 'vue-chartjs'
   
    ChartJS.register( RadialLinearScale, PointElement, LineElement, Filler,
    Tooltip, Legend
    )
  
  export default {
    name: 'RadarChart',
    components: { Radar },
    data() {
    return {
      chartData:{
        labels: [
    'Eating',
    'Drinking',
    'Sleeping',
    'Designing',
    'Coding',
    'Cycling',
    'Running'
  ],
  datasets: [
    {
      label: 'My First dataset',
      backgroundColor: 'rgba(179,181,198,0.2)',
      borderColor: 'rgba(179,181,198,1)',
      pointBackgroundColor: 'rgba(179,181,198,1)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgba(179,181,198,1)',
      data: [65, 59, 90, 81, 56, 55, 40]
    },
    {
      label: 'My Second dataset',
      backgroundColor: 'rgba(255,99,132,0.2)',
      borderColor: 'rgba(255,99,132,1)',
      pointBackgroundColor: 'rgba(255,99,132,1)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgba(255,99,132,1)',
      data: [28, 48, 40, 19, 96, 27, 100]
    }
  ]
      },
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false
  
      }
    }
  }
  }
  </script>