<script lang="ts">
import axios from 'axios';
import _ from 'lodash';
axios.defaults.baseURL = 'http://localhost:4040';

export default {
  data() {
    return {
      form: {
        "workingtime": {
          start: this.start,
          end: this.end
        }
      },
      resultMessage: this.resultMessage,
      resultSuccess: this.resultSuccess
    }
  },
  computed: {
    isCreateUserEndpoint() {
      return _.isNil(this.$route.params.workingTimeId);
    }
  },
  methods: {
    submitCreateForm: async function() {
      try {
        const response = await axios.post('/api/workingtimes/' + parseInt(this.$route.params.userId), this.form);
        console.log(response);
        if (response.status === 200) {
          this.resultSuccess = true;
          this.resultMessage = 'Le Workingtime a été créé avec succès ! id : ' + response.data.data.id;
        }
      } catch (error) {
        console.log(error);
        this.resultSuccess = false;
        this.resultMessage = 'Une erreur est survenue lors de la création du Workingtime';
      }
    },
  
    submitChangeForm: async function() {
      try {
        const response = await axios.put('/api/workingtimes/' + parseInt(this.$route.params.userId) + '/' + parseInt(this.$route.params.workingTimeId), this.form); 
        console.log(response);
        if (response.status === 200) {
          this.resultSuccess = true;
          this.resultMessage = 'Le Workingtime a été mis à jour avec succès !'
        }
      } catch (error) {
        console.log(error);
        this.resultSuccess = false;
        this.resultMessage = 'Une erreur est survenue lors de la mise à jour du Workingtime';
      }
    },
    sendDelete: async function () {
      try {
        const response = await axios.delete('/api/workingtimes/' + parseInt(this.$route.params.userId) + '/' + parseInt(this.$route.params.workingTimeId)); 
        console.log(response);
        if (response.status === 200) {
          this.resultSuccess = true;
          this.resultMessage = 'Le Workingtime a été supprimé avec succès !'
        }
      } catch (error) {
        console.log(error);
        this.resultSuccess = false;
        this.resultMessage = 'Une erreur est survenue lors de la suppression du Workingtime';
      }
    }
  }
}
  

</script>

<template>
  <button :class="{'d-none': isCreateUserEndpoint }" id="sendButton" type="submit" @click="sendDelete">Supprimer</button>
  <form @submit.prevent="submitForm">
    <div id="formDiv">
      <label>Date et heure de début</label>
      <input v-model="form.workingtime.start" placeholder="YYYY-MM-DDThh:mm:ss" />
      <label>Date et heure de fin</label>
      <input v-model="form.workingtime.end" placeholder="YYYY-MM-DDThh:mm:ss" />
      <div class="d-flex justify-content-center">
        <button id="sendButton" type="submit">Envoyer</button>
      </div>
    </div>
  </form>
  <span :class="[ resultSuccess ? 'success' : 'error' ]">{{ resultMessage }}</span>
</template>

<style scoped>
.success {
  color : hsla(160, 100%, 37%, 1);
  font-weight: bold;
  margin-top: 15px;
}

.error {
  color : red;
  font-weight: bold;
  margin-top: 15px;
}

#sendButton {
  color : hsla(160, 100%, 37%, 1);
  width: 130px;
  margin-top: 15px;
  border-radius: 8px;
}

#formDiv {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
