<script setup>
import { RouterLink, RouterView } from 'vue-router'


</script>

<script>
export default {
  data() {
    return {
      userIdCreate: this.userIdCreate,
      userIdChange: this.userIdChange,
      workingTimeId: this.workingTimeId,
      clockUsername: this.clockUsername,
      userId: this.userId,
      parsedUser: null,
      displayUsername: "username"
    }
  },
  methods: {
    mettreAJourCompteur: async function () {
      const userStorage = localStorage.getItem('user');

    },
    logout: async function () {
      localStorage.removeItem('user')
      this.$router.push(`/register`);
    },
  },
  computed: {
    isCreateWTActive: function () {
      return !this.userIdCreate;
    },
    isChangeWTActive: function () {
      return !this.userIdChange || !this.workingTimeId;
    },
    isClockActive: function () {
      return !this.clockUsername;
    },
    isUpdateWTActive: function () {
      return !this.userId;
    },
    currentEndpoint() {
      return this.$route.name;
    },
    localStorageUser() {
      const userStorage = localStorage.getItem('user');
      this.parsedUser = userStorage ? JSON.parse(userStorage) : null;
      console.log(this.parsedUser);
      return this.parsedUser;
    },


  },

  mounted() {
    const userStorage = localStorage.getItem('user');
    this.parsedUser = userStorage ? JSON.parse(userStorage) : null;
    this.displayUsername = this.parsedUser.username
  }

}
</script>

<template>
  <header>
    <nav :class="{ 'd-none': currentEndpoint === 'login' || currentEndpoint === 'register' }"
      class="sticky navbar navbar-expand-lg bg-body-tertiary md-2">
      <div class="container-fluid">
        <RouterLink class="navbar-brand" to="/">
          <img id="favicon" src="../public/favicon.ico">
          Home
        </RouterLink>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
              </a>
              <ul class="dropdown-menu">
                <li>
                  <RouterLink class="nav-link" to="/users">Liste des Utilisateurs</RouterLink>
                </li>
                <li>
                  <RouterLink class="nav-link" to="/user">Create User</RouterLink>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Workingtime
              </a>
              <ul class="dropdown-menu">
                <li>
                  <RouterLink class="nav-link" v-bind:class="{ disabled: isCreateWTActive }"
                    :to="'/workingtime/' + userIdCreate">
                    Create workingtime</RouterLink>
                  <label for="userIdCreate">Id du user</label>
                  <input class="inputClass" type="text" v-model="userIdCreate" placeholder="userIdCreate">
                </li>
                <li>
                  <RouterLink class="nav-link" v-bind:class="{ disabled: isChangeWTActive }"
                    :to="'/workingtime/' + userIdChange + '/' + workingTimeId">Update/Delete workingtime</RouterLink>
                  <label for="userIdChange">Id du user</label>
                  <input class="inputClass" type="text" v-model="userIdChange" placeholder="userIdChange">
                  <br>
                  <label for="workingTimeId">Id du workingtime</label>
                  <input class="inputClass" type="text" v-model="workingTimeId" placeholder="workingTimeId">
                </li>
              </ul>
            </li>
            <div class="vl"></div>
            <li>
              <RouterLink class="nav-link" :to="'/clock/' + (localStorageUser ? localStorageUser.username : 'error')"
                :key="$route.fullPath">
                Clock</RouterLink>
            </li>
            <div class="d-flex justify-content-end w-100">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img class="classForImage" src="./assets/user-icon.png">
                  <span>{{ displayUsername }}</span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <RouterLink class="nav-link" to="/login" @click="logout">
                      <img class="classForImage" src="./assets/signout-icon.png">
                      <span>Sign out</span>
                    </RouterLink>
                  </li>
                </ul>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <RouterView></RouterView>
  </main>
</template>



<style scoped>
nav {
  padding: 5px !important;
  border-radius: 4px;
}

#favicon {
  height: 45px;
  margin-right: 5px;
}

.vl {
  border-left: 1px solid darkgray;
  margin-left: 10px;
  margin-right: 7px;
  height: 30px;
  width: 1px;
}

.classForImage {
  margin-right: 5px;
  max-height: 30px;
  width: auto;
}

.sticky {
  position: fixed;
  top: 0;
  left: 9%;
  width: 82%;
}

header {
  grid-column: 1;
  grid-row: 1;
}

main {
  display: flex;
  place-content: center;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

tr,
th {
  border: 1px solid #d6cfc7;
  border-radius: 8px;
  min-width: 150px;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin {
  margin: 25%
}

.inputClass {
  max-width: 125px;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
