<template>
<div>
    <v-expansion-panels>
        <v-expansion-panel title="Profile">
        <v-expansion-panel-text>
            <v-card-text>
            <v-text-field
                        v-model="form.firstName"
                        label="FirstName"></v-text-field>
            <v-text-field
                        v-model="form.lastName"
                        label="Last Name"></v-text-field>
            <v-text-field
                        v-model="form.contactEmail"
                        label="Email Address"></v-text-field>
        </v-card-text>

        <v-card-actions>
                    <v-btn color="primary" :loading="loading" @click="">
                        <v-icon left dark>check</v-icon>
                        Save Changes
                    </v-btn>
        </v-card-actions>
        </v-expansion-panel-text>


        </v-expansion-panel>
        <v-expansion-panel title="SkillZ">
        <v-expansion-panel-text>
            <v-list v-for="(item, i) in items" :key="`item_${i}`" >
                        <v-list-item-title v-text="item.text"></v-list-item-title>
         </v-list>

        <v-dialog v-model="dialog" persistent width="1024">
                    <template v-slot:activator="{ props }">
                        <v-btn color="primary" v-bind="props" @click="dialog = true">Add a Skill</v-btn>
                    </template>

                    <v-card>
                        <v-card-title>
                        <span class="text-h5">Skillz</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                <v-col cols="12" sm="6">
                                    <v-autocomplete :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']" label="Skills" multiple></v-autocomplete>
                                </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-darken-1" variant="text" @click="dialog = false" >Close</v-btn>
                        <v-btn color="blue-darken-1" variant="text" @click="dialog = false">Save</v-btn>
                        </v-card-actions>
                    </v-card>
        </v-dialog>
        </v-expansion-panel-text>


        </v-expansion-panel>
   
</v-expansion-panels>
</div>
</template>

<script lang="ts">
    
    export default {
        pageTitle: 'My Profile',
        data () {
            return {
                dialog: false,
                loading: false,
                form: {
                    firstName: 'John',
                    lastName: 'Doe',
                    contactEmail: 'john@doe.com'
                },
                showAvatarPicker: false,
                items: [
                    { text: 'skill 1'},
                    { text: 'skill 2' },
                    { text: 'skill 3'},
                    { text: 'skill 4'},
                    ],
            }
        },
        methods: {
          
        }
    }
</script>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>