<template>
   <v-dialog v-model="dialog" persistent width="1024">
                    <template v-slot:activator="{ props }">
                        <v-btn color="primary" v-bind="props" @click="dialog = true">Create a Skill</v-btn>
                    </template>

                    <v-card>
                        <v-card-title>
                        <span class="text-h5">Skillz</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                  <v-text-field
                                    v-model="skill"
                                    label="Skill"
                                    hint="Type the name of the skill"
                                  ></v-text-field>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-darken-1" variant="text" @click="dialog = false" >Close</v-btn>
                        <v-btn color="blue-darken-1" variant="text" @click="saveSkill">Save</v-btn>
                        </v-card-actions>
                    </v-card>
        </v-dialog>
       
  <v-list>
    <v-list-item v-for="(item, i) in items" :key="i"  >
          <v-list-item-title v-text="item.text"></v-list-item-title>
    </v-list-item>
  </v-list>

</template>



<script lang="ts">
export default {
  name: "skill",
  data: function() {
    return {
      dialog: false,
      skill: '',
      items: [
      { text: 'skill 1'},
      { text: 'skill 2' },
      { text: 'skill 3'},
      { text: 'skill 4'},
      ]
    }
  },
  methods:{
    saveSkill(){
      this.dialog = false
    }
  }
  
}
</script>