<template>
  <v-list>
    <v-list-item v-for="(item, i) in items" :key="i"  @click="goTo(item.text)">
          <v-list-item-title v-text="item.text"></v-list-item-title>
          
    </v-list-item>
  </v-list>
</template>



<script lang="ts">
export default {
  name: "taks",
  data: function() {
    return {
      items: [
        { text: "task 1"},
        { text: "task 2"},
        { text: "task 3"},
        { text: "task 4"},
      ]
    }
  },
  methods: {
      goTo(taskName: string) {
        this.$router.replace({name:'taskDetail', params:{taskName: taskName}})
      }
    }
}
</script>