<template>

    <v-card width="300px">
      <v-card-title class="text-h6 text-md-h5 text-lg-h4" v-text="name"></v-card-title>
      <v-card-text v-text="inCharge">
      </v-card-text>
    </v-card>

    <v-list v-for="(item, i) in items" :key="i" >
                        <v-list-item-title v-text="item.text"></v-list-item-title>
    </v-list>

    <v-btn color="primary" @click="">Assign</v-btn>
    <v-btn color="primary" @click="">Complete</v-btn>
    
</template>



<script lang="ts">
    
    export default {
        pageTitle: 'My Profile',
        data () {
            return {
                
                name:this.$route.params.taskName,
                inCharge: 'John',
                items: [
                    { text: 'skill 1'},
                    { text: 'skill 2' },
                    { text: 'skill 3'},
                    { text: 'skill 4'},
                    ],
            }
        },
        
        methods: {
          
        }
    }
</script>
