<template>
    <v-list>
      <v-list-item v-for="(item, i) in items" :key="i" @click="goTo(item.text)">
            <v-list-item-title v-text="item.text"></v-list-item-title>
      </v-list-item>
    </v-list>
</template>
  
  
  

<script lang="ts">
export default {
  name: "users",
  data: function() {
    return {
      items: [
        { text: "user 1"},
        { text: "user 2"},
        { text: "user 3"},
        { text: "user 4"},
      ]
    }
  },
  methods: {
      goTo(userName: string) {
        this.$router.push({name:'userDetail', params:{userName: userName}})
      }
    }
}
</script>