<template>
    <v-card-text>
        <v-text-field
                    v-model="form.firstName"
                    label="FirstName"></v-text-field>
        <v-text-field
                    v-model="form.lastName"
                    label="Last Name"></v-text-field>
        <v-text-field
                    v-model="form.contactEmail"
                    label="Email Address"></v-text-field>
    </v-card-text>

    <v-list v-for="(item, i) in items" :key="i" >
                        <v-list-item-title v-text="item.text"></v-list-item-title>
    </v-list>
</template>



<script lang="ts">
    
    export default {
        pageTitle: 'My Profile',
        data () {
            return {
                form: {
                    firstName: 'John',
                    lastName: 'Doe',
                    contactEmail: 'john@doe.com',
                },
                items: [
                    { text: 'skill 1'},
                    { text: 'skill 2' },
                    { text: 'skill 3'},
                    { text: 'skill 4'},
                    ],
            }
        },
        methods: {
          
        }
    }
</script>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>